body {
    font-family: Papyrus;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    
}

p {
     font-family: Papyrus;
     font-size: 20px
}
h1 {
     font-family: Papyrus;
     font-size: 40px
}
img {
    max-width: 100%;
    height: auto;
}